body {
    width: 100vw;
    height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: monospace;
}

#graph {
    border: 1px solid dodgerblue;
    width: 1200px;
    height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.graph {
    display: flex;
    justify-content: center;
    align-items: end;

    width: 80%;
    gap: 6px;
}

.bar {
    width: 80px;
    background-color: dodgerblue;
}